// SASS variables
$accentDark: #444140;
$accentLight: #ffd99d;
$highlight: #e54b4b;
$dark: #1e1e24;
$light: #f7ebe8;
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=DotGothic16&family=Metal+Mania&display=swap');
// Override bootstrap styles here. 
// See https://getbootstrap.com/docs/4.0/getting-started/theming/#theme-colors for some pointers
$primary: $accentDark;
$danger: $highlight;
$secondary: $accentLight;
$warning: #414016;
$info: $accentLight;
$success: #459d49;

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$gameFont: "Press Start 2P", cursive;

$sassy: #780116;
$coral: #db7c26;
$royal: #220901;
$tiffany: #e54b4b;
$peach: #941b0c;
$offWhite: #fffff7;

$colors: $sassy, $coral, $royal, $tiffany, $peach;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-content: center;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  
}



.neon-text {
  position: relative;
  font-family: $gameFont;
  font-size: 3.6rem;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  -webkit-text-stroke: 1px $sassy;
  color: $offWhite;

  z-index: 10;

  &::before {
    content: attr(data-text);
    position: absolute;
    bottom: 8px;
    right: 8px;

    font-family: inherit;
    font-size: 3.6rem;
    color: $sassy;
    width: 100%;
    height: 100%;
    animation: animateTextColor 3s infinite linear;

    z-index: -1;
    // border: 2px solid green;
  }
}

.rotating-text {
    position: relative;
    -webkit-text-stroke: 1px $sassy;
  
    &::before {
      animation: rotatingWord 2.8s linear infinite;
    }
  
    &::after {
      content: attr(data-text);
      position: absolute;
      bottom: 8px;
      left: 0;
      right: 8px;
      animation: animateTextColor 3s infinite linear,
        rotatingWord 5s linear infinite;
      z-index: -1;
    }
  }
  @mixin randomColor($colors) {
    $color: nth($colors, random(length($colors)));
    color: $color;
  }
  
  @keyframes animateTextColor {
    0% {
      @include randomColor($tiffany);
    }
    20% {
      @include randomColor($colors);
    }
    50% {
      @include randomColor($colors);
    }
    60% {
      @include randomColor($colors);
    }
    80% {
      @include randomColor($colors);
    }
    100% {
      @include randomColor($tiffany);
    }
  }
  
  @keyframes rotatingWord {
    0% {
      transform: translate(0px, 0px);
    }
    20% {
      transform: translate(5px, 0px);
    }
    40% {
      transform: translate(5px, 5px);
    }
    60% {
      transform: translate(0px, 5px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }