// SASS variables
$accentDark: #444140;
$accentLight: #ffd99d;
$highlight: #e54b4b;
$dark: #1e1e24;
$light: #f7ebe8;
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
// Override bootstrap styles here. 
// See https://getbootstrap.com/docs/4.0/getting-started/theming/#theme-colors for some pointers
$primary: $accentDark;
$danger: $highlight;
$secondary: $accentLight;
$warning: #414016;
$info: $accentLight;
$success: #459d49;